.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background:#FFF;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000;
}

.main-footer p{
  font-size: 18px;
  font-weight: bold;
}
  
.footer-icons {
  display: flex;
  justify-content: center;
  margin-left: 5px;
}
  
  .footer-icons > * {
    margin-right: 5px;
  }